<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EPL Stat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <% if content_for? :css_head %>
      <%= yield :css_head %>
    <% end %>
    <!-- This content tag should allow specific pages to add their own css for primary and secondary colors. --> 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if current_page?(root_path) %>
  <%= render 'layouts/club_index_header' %>
<% else %>
  <%= render 'layouts/club_show_header' %>
<% end %>
    <main>
    <div class="container two">
        <div class="row">
          <div class="col s12 m9 l12">
    	<%= yield %>
       </div>
      </div>
     </div>
  </body>
</html>
